{% extends 'base.html.twig' %}

{% block content %}
    {% if (app.session.flashBag.has('notice')) %}
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> {{ flash_message }}
            </div>
        {% endfor %}
    {% elseif (app.session.flashBag.has('error')) %}
        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Error!</strong> {{ flash_message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Сведения о пользователе</h2>
                    <div class="pull-right">
                        <div class="btn-group btn-group-sm" role="group">
                            <a href="{{ path('client_admin.user.toogle_lock',
                            {'id': object.id}) }}" class="btn btn-dark">
                                {% if (object.accountNonLocked) %}
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-unlock" aria-hidden="true"></i>
                                {% endif %}
                            </a>
                            <a href="{{ path('client_admin.user.delete',
                            {'user_id': object.id}) }}" class="btn btn-danger">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{ include('users/form/form.user.html.twig', {'form': form,
                        'action': path('client_admin.user.update', {'user_id': object.id})}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}