{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-md-9 col-xs-12">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Дата</th>
                <th>Статус</th>
                <th>Информация</th>
                <th>Создан</th>
            </tr>
            </thead>
            <tbody>
            {% for object in objects %}
                <tr>
                    <th class="row">{{ object.id }}</th>
                    <td>{{ object.date | date('Y-m-d H:i:s') }}</td>
                    <td>{{ object.status }}</td>
                    <td>{{ object.info }}</td>
                    <td>{{ object.createdAt | date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Поиск</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ include ('shared/filters/event.filter.html.twig', {'filter': filterForm}) }}
            </div>
        </div>
    </div>
{% endblock %}

