{% extends 'base.html.twig' %}

{% block js_head %}
    {{ parent() }}
    <script src="http://code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="http://code.highcharts.com/4.1.8/modules/exporting.js"></script>
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="col-md-3">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Поиск</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{ include ('charts/filter/filter.html.twig', {'filter': filterForm}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <table class="table">
                <thead>
                <tr>
                    <th>Пользователь</th>
                    <th>Количество</th>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                    <tr>
                        <td><a href="{{ path('client_charts.call_column', {user_id: item.userId}) }}">{{ item.username }}</a></td>
                        <td>{{ item.sumCount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">

        </div>
    </div>
{% endblock %}