{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-md-9 col-xs-12">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Компания</th>
                <th>Адрес</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Сотрудник</th>
                {% endif %}
                <th>Добавлена</th>
            </tr>
            </thead>
            <tbody>
            {% for object in objects %}
                <tr>
                    <th class="row">{{ object.id }}</th>
                    <td>{{ object.company }}</td>
                    <td>{{ object.address.city }}, {{ object.address.street }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ object.user.username }}</td>
                    {% endif %}
                    <td>{{ object.createdAt | date('m/d/Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Поиск</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ include ('customer/form/filter.html.twig', {'filter': filterForm}) }}
            </div>
        </div>

    </div>
{% endblock %}

