{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-md-7 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Сведения о клиенте</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ include ('customer/form/form.html.twig', {'form': form}) }}
            </div>
        </div>
    </div>
    <div class="col-md-5 col-xs-12">
        <div class="row">

            <div class="col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Последние совершенные звонки</h2>
                        <a href="{{ path('client_calls', {id_customer: object.id}) }}" class="btn btn-default btn-sm pull-right">
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {{ render(controller(
                        'client.controller.call:getRecentDoneAction',
                        {customer: object})) }}
                        <a href="{{ path('client_call.add', {id_customer: object.id}) }}" type="button" class="btn btn-success btn-block">Добавить</a>
                    </div>


                </div>
            </div>

            <div class="col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Последние совершенные встречи</h2>
                        <a href="{{ path('client_meetings', {id_customer: object.id}) }}" class="btn btn-default btn-sm pull-right">
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {{ render(controller(
                        'client.controller.meeting:getRecentDoneAction',
                        {customer: object})) }}
                        <a href="{{ path('client_meeting.add', {id_customer: object.id}) }}" type="button" class="btn btn-success btn-block">Добавить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}